// ==========================================================================
// Custom styles of Thank You Page.
// ==========================================================================

.l-page-configurator {
  ul.box {
    grid-gap: 1em;
    justify-content: center;
    flex-wrap: wrap;

    li {
      transition: all 300ms ease-in-out;
      display: flex;
      align-items: center;
      flex-direction: column;
      overflow: hidden;
      background-color: $grey-lighter;
      border-radius: $border-radius-md;
      flex: 0 0 14%;

      &:hover,
      &.active {
        background-color: $primary;
        color: $white;
        cursor: pointer;
      }

      img {
        width: 55px;
        height: 55px;
      }
    }
  }
}

.progress-bar {
  width: 100%;
  height: 0.5em;
  padding: 0 0.5em;
  position: relative;
  box-sizing: border-box;
  transition: all 0.25s linear;

  .active {
    background: $primary;
    width: 16%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    // Define amount in variabls.scss
    @for $i from 1 through $totalSteps {
      &.step-#{$i} {
        width: calc(100% / #{$totalSteps} * #{$i});
      }
    }
  }

  .non-active {
    background: $grey-lighter;
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
}

.wizard-usp {
  border-top: 1px solid $grey-lighter;
  padding: 1em 1em 2em;
  margin-left: auto;
  margin-right: auto;
  max-width: 840px;

  div {
    display: flex;
    margin: 0.5rem 0;
  }

  svg {
    width: 20px;
    height: 20px;
    margin: 0 0.5rem 0 0;
  }
}
