// ==========================================================================
// Custom styles of Thank You Page.
// ==========================================================================

.l-page-configurator {
  ul.box {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;

    li {
      transition: all 300ms ease-in-out;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      overflow: hidden;
      background-color: $grey-lighter;
      border-radius: $border-radius-md;

      &:hover,
      &.active {
        background-color: $primary;
        color: $white;
        cursor: pointer;
      }

      img {
        width: 55px;
        height: 55px;
      }
    }
  }
}

.progress-bar {
  width: 100%;
  height: 0.5em;
  padding: 0 0.5em;
  position: relative;
  box-sizing: border-box;

  .active {
    background: $primary;
    width: 16%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    &.step-01 {
      width: 10%;
    }

    &.step-02 {
      width: 20%;
    }

    &.step-03 {
      width: 30%;
    }

    &.step-04 {
      width: 40%;
    }

    &.step-05 {
      width: 50%;
    }

    &.step-06 {
      width: 60%;
    }

    &.step-07 {
      width: 70%;
    }

    &.step-08 {
      width: 80%;
    }

    &.step-09 {
      width: 90%;
    }
  }

  .non-active {
    background: $grey-lighter;
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
}

.wizard-usp {
  border-top: 1px solid $grey-lighter;
  padding: 1em 1em 2em;
  margin: 0 0.5em;
  max-width: 840px;
  margin: 0 auto;

  div {
    display: flex;
    margin: 0.5rem 0;
  }

  svg {
    width: 20px;
    height: 20px;
    margin: 0 0.5rem 0 0;
  }
}

@include media-breakpoint-up(md) {
  .l-page-configurator {
    ul.box {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}

@include media-breakpoint-up(lg) {
  .l-page-configurator {
    ul.box {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  }
}
