// ==========================================================================
// CTA section
// ==========================================================================

.l-cta {
  .content {
    height: 100%;
    text-align: center;
  }

  .d-grid {
    grid-column: 1;
  }
}
