// ==========================================================================
// FAQ section
// ==========================================================================

.l-faq-v2 {
  article {
    box-shadow: $global-box-shadow-y;
    background-color: $white;
    border-radius: $border-radius-md;
    overflow: hidden;

    button.faq--collapsible {
      width: 100%;
      line-height: 1.5;

      &:hover {
        background-color: $primary-lightest;
      }
    }

    .plus-animated {
      margin-top: 5px;
    }

    .faq--content {
      display: none;
    }

    &.is-open {
      .faq--content {
        display: block;
      }
    }
  }
}
