// ==========================================================================
// Custom styles of Onboarding Pages.
// ==========================================================================

.l-onboarding {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
  width: 100%;
  overflow: hidden;
  min-height: -webkit-fill-available;
  position: relative;

  &[data-step="1"] {
    .logo {
      width: 200px;
    }
  }

  &[data-step="2"],
  &[data-step="3"],
  &[data-step="4"],
  &[data-step="5"] {
    .logo {
      position: absolute;
      right: 0;
      top: 0;
      width: 100px;
    }

    .slides .slide-wrapper {
      align-items: flex-end;
      transition: all 200ms ease-in-out;
    }
  }

  .logo {
    transition: all 200ms ease-in-out;
    z-index: 90;
  }

  .slides {
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 80;

    &[data-step="1"] {
      .slide-wrapper {
        left: 0;
      }
    }

    &[data-step="2"] {
      .slide-wrapper {
        left: -100%;
      }
    }

    &[data-step="3"] {
      .slide-wrapper {
        left: -200%;
      }
    }

    &[data-step="4"] {
      .slide-wrapper {
        left: -300%;
      }
    }

    &[data-step="5"] {
      .slide-wrapper {
        left: -400%;
      }
    }

    .slide-wrapper {
      display: flex;
      position: relative;
      left: 0;
      width: 500%;
      transition: left 0.25s ease-in-out 0.125s;
    }

    .slide {
      color: white;
      display: flex;
      flex-direction: column;
      position: relative;
      width: 33.33%;

      .fa {
        font-size: 128px;
        margin-bottom: 30px;
      }

      h4 {
        font-family: $font-family-base;
        font-weight: $font-weight-light;
      }
    }
  }

  .footer {
    position: relative;
    width: 100%;
    z-index: 70;

    &[data-step="1"] {
      .Button--prev {
        pointer-events: none;
        opacity: 0.5;
      }
    }
  }

  .dot-wrapper {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 60;

    @for $i from 1 through 5 {
      &[data-step="#{$i}"] {
        .dot-item:nth-child(#{$i}) {
          opacity: 1;
        }
      }
    }

    .dot-item {
      background: white;
      opacity: 0.5;
      margin: 15px 5px;
      width: 8px;
      height: 8px;
      border-radius: 8px;
      transition: opacity 0.125s ease-in-out;
    }
  }

  .background {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.9;
    pointer-events: none;
    background-image: url("/images/suburban-coworking-hero.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10;
  }
}

@include media-breakpoint-up(md) {
  .l-onboarding {
    justify-content: center;

    &[data-step="1"] {
      .logo {
        width: 300px;
      }
    }

    .slides {
      .slide-content {
        max-width: 80%;
      }

      .slide {
        h1 {
          font-size: 3rem;
        }

        h4 {
          font-size: 2rem;
        }
      }
    }

    .dot-wrapper {
      justify-content: flex-start;
      width: auto;
    }

    .footer {
      .btn {
        margin: 0;
        margin-left: 1rem;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .l-onboarding {
    height: 100vh;

    .slides {
      .slide-content {
        max-width: 60%;
      }
    }
  }
}
