// ==========================================================================
// Custom product styles
// ==========================================================================

.l-products {
  background-color: $grey-lightest;

  img {
    max-width: 375px;
    mix-blend-mode: multiply;
  }
}

@include media-breakpoint-up(md) {
  .l-products {
    background-color: inherit;

    .chair-text,
    .table-text,
    .phonebox-text {
      background-color: $grey-lightest;
    }

    .chair-image,
    .phonebox-image {
      margin-left: -200px;
    }

    .chair-text,
    .phonebox-text {
      padding: 3em 200px 3em 3em;
    }

    .table-image {
      margin-right: -200px;
    }

    .table-text {
      padding: 3em 3em 3em 200px;
    }
  }
}
