// ==========================================================================
// Custom styles of Thank You Page.
// ==========================================================================

.l-thank-you {
  h1 {
    //font-size: 4rem;
    text-align: center;
  }

  img {
    max-height: 30vh;
  }
}

@include media-breakpoint-up(md) {
  h1 {
    font-size: 4rem;
  }
}
