// ==========================================================================
// Testimonial section
// ==========================================================================

.l-testimonials {
  background-color: $white;

  &.single {
    //max-width: 800px;

    .testimonial-logo {
      max-width: 230px;
      height: auto;
    }
  }

  .wrapper {
    margin: 2em 0;

    & > .d-flex {
      flex: 0 0 100%;
      flex-direction: column;
    }

    .article-wrapper {
      flex-wrap: wrap;
    }
  }

  article {
    background-color: $white;
    box-shadow: 0 80px 0 0 $white inset;
    width: 100%;
    margin: 0 0 2rem;
    box-sizing: border-box;
    justify-content: space-between;
  }

  img[alt="avatar"] {
    width: 160px;
    //mix-blend-mode: darken;
  }

  img[alt="logo"] {
    height: 120px;
    //width: 120px;
    //mix-blend-mode: darken;
  }

  blockquote {
    width: 80%; // ie fix
  }
}

@include media-breakpoint-up(md) {
  .l-testimonials {
    &.single {
      //width: 70%;

      img[alt="avatar"] {
        width: 200px;
      }

      article {
        box-shadow: 0 100px 0 0 $white inset;
      }

      .single-testimonial {
        width: 70%;
        margin: 0 auto;
      }

      blockquote {
        min-height: 150px;
        margin-bottom: 0;
      }
    }

    .wrapper {
      margin-left: 0;
      margin-right: 0;

      & > .d-flex {
        flex-direction: row;
      }

      .article-wrapper {
        flex-wrap: nowrap;
        padding-top: 2.4rem;
      }
    }

    article {
      box-shadow: 0 60px 0 0 $white inset;
      margin: 0 0.5em 2rem;
    }

    img {
      //width: 120px;
    }

    blockquote {
      min-height: 180px;
    }
  }
}

@include media-breakpoint-up(lg) {
  .single-testimonial {
    width: 46%;
    margin: 0 auto;
  }
}
