// ==========================================================================
// Testimonial section
// ==========================================================================

.l-testimonials-v2 {
  img[alt="avatar"] {
    width: 122px;
  }

  svg {
    width: 20px;

    path {
      fill: $primary;
    }
  }
}
