// ==========================================================================
// USP section
// ==========================================================================

.l-usp {
  .content {
    .d-grid {
      grid-template-columns: 1fr;

      .usp-block {
        svg {
          max-width: 80px;
          width: 20%;
        }
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  .l-usp {
    .content {
      .d-grid {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .l-usp {
    .content {
      .d-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      }
    }
  }
}
