// ==========================================================================
// Alerts
// ==========================================================================

.alert {
  box-sizing: border-box;
  border-radius: $border-radius-md;
  display: block;
  font-weight: $font-weight-regular;
  padding: 1em;
  width: 100%;

  &.alert--floating {
    box-shadow: $global-box-shadow-y;
    left: 0;
    margin: 0.5em;
    position: absolute;
    top: 0em;
    width: calc(100% - 1em);
    z-index: 1100;
  }

  &.alert--info {
    background-color: $info;
    color: $white;
  }

  &.alert--error {
    background-color: $danger;
    color: $white;
  }

  &.alert--success {
    background-color: $success;
    color: $white;
  }
}
