// ==========================================================================
// Cards
// ==========================================================================

.card {
  border-radius: $border-radius-lg;
  box-sizing: border-box;
  display: block;
  padding: 1em;
  width: auto;

  &.card--default {
    background-color: $white;
    border-radius: $border-radius-xl;
    box-shadow: $global-text-shadow;
    color: $lettering-black;
  }

  &.card--invitation {
    background-color: $attention;
    color: $lettering-black;
  }

  &.card--simple {
    background-color: $secondary;
    color: $lettering-black;
  }

  small {
    font-size: 70%;
  }
}
