// ==========================================================================
// Chips
// ==========================================================================

.chip {
  // background-color: $grey-lighter;
  border-radius: $border-radius-md;
  cursor: pointer;
  padding: 0.75em;

  &:hover {
    // background-color: darken($grey-lighter, 8%);
  }

  .icon {
    line-height: 0;

    svg {
      transform: scale(0.8) rotate(-90deg);
    }
  }

  &.chip--default {
    background-color: $grey-lighter;
    color: $black;
  }

  &.chip--invitation {
    background-color: $attention;
    color: $black;
  }
}
