// ==========================================================================
// Contact section
// ==========================================================================

.l-contact {
  form {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-areas:
      "form-entry-01"
      "form-entry-02"
      "form-entry-03"
      "form-entry-04"
      "form-entry-05"
      "form-submit";
    grid-gap: 0 1rem;
    max-width: 600px;

    .form-entry-01 {
      grid-area: form-entry-01;
    }

    .form-entry-02 {
      grid-area: form-entry-02;
    }

    .form-entry-03 {
      grid-area: form-entry-03;
    }

    .form-entry-04 {
      grid-area: form-entry-04;
    }

    .form-entry-05 {
      grid-area: form-entry-05;
    }

    .btn {
      grid-area: form-submit;
    }
  }
}

@include media-breakpoint-up(md) {
  .l-contact {
    justify-content: center;

    .form-wrapper {
      flex-basis: 500px;
      box-sizing: border-box;
    }

    .image-wrapper {
      flex: 1 1 auto;
      background-image: url("/images/suburban-coworking-contact.jpg");
      background-position: 62% center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    img {
      display: none !important;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    form {
      grid-auto-columns: 1fr 1fr;
      grid-template-areas:
        "form-entry-01 form-entry-02"
        "form-entry-03 form-entry-04"
        "form-entry-05 form-entry-05"
        "form-submit form-submit";
    }
  }
}

@include media-breakpoint-up(xxl) {
  .l-contact {
    justify-content: center;

    .form-wrapper {
      flex-basis: 850px;
      box-sizing: border-box;
    }

    form {
      max-width: none;
    }
  }
}
