/* ------------------------ Overrites cookie-bar.eu styles ------------------------ */
div#cookie-bar {
  background-color: $white;
  border-radius: $border-radius-md;
  box-shadow: $global-box-shadow-y;

  p {
    color: $lettering-black;
    font-size: 14px !important;
    margin-left: 20px;
    margin-right: 20px;

    a {
      color: $primary;
      padding: 0;
      text-decoration: underline;
    }
  }

  #cookie-bar-button {
    background-color: $primary;
    border: 0;
    border-radius: 0;
    color: $white !important;
    padding: 10px 15px;
    text-decoration: none;
  }

  #cookie-bar-prompt-button {
    font-weight: 400;
    text-decoration: underline;
  }
}

@media (min-width: 768px) {
  div#cookie-bar {
    flex-direction: row;
    max-width: 80%;

    #cookie-bar-button {
      font-size: 16px;
      padding: 14px 15px;
    }
  }
}

@media (min-width: 1024px) {
  div#cookie-bar {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;

    p {
      font-size: 16px !important;
      width: 80%;
    }
  }
}
