// ==========================================================================
// Icon Overview styles
// ==========================================================================

.icon-wrapper {
  .icon-item {
    width: 50%;
    font-size: 0.8rem;
    line-height: 1rem;
    font-weight: bold;
    text-align: center;
    margin: 0 0 2rem;

    img {
      width: 33%;
      margin: 0.75rem;
    }
  }
}

@include media-breakpoint-up(md) {
  .icon-wrapper {
    .icon-item {
      width: 33%;

      // img {
      //   width: 33%;
      // }
    }
  }
}
