// ==========================================================================
// Icon Overview styles
// ==========================================================================

.icon-wrapper {
  .icon-item {
    width: 50%;
    font-size: 0.8rem;
    line-height: 1rem;
    font-weight: bold;
    text-align: center;
    margin: 0 0 2rem;

    img {
      width: 50%;
    }
  }
}
