// ==========================================================================
// Text with image section
// ==========================================================================

.text-image {
  .content {
    grid-template-areas:
      "group-images"
      "group-description";
  }

  .group-description {
    grid-area: group-description;
  }

  .group-images {
    grid-area: group-images;
  }
}

@include media-breakpoint-up(md) {
  .text-image.text-image--right {
    .content {
      grid-template-areas: "group-description group-images";
      grid-template-columns: 3fr 2fr;
    }
  }

  .text-image.text-image--left {
    .content {
      grid-template-areas: "group-images group-description";
      grid-template-columns: 2fr 3fr;
    }
  }
}
