// ==========================================================================
// Columns
// ==========================================================================

.column {
  display: block;
  padding: 0.5em;
}

@include media-breakpoint-up(md) {
  .column {
    display: inline-block;
  }
}
