// ==========================================================================
// Images
// ==========================================================================

img {
  max-width: 100%;

  &.img--radius-md {
    border-radius: $border-radius-md;
  }

  &.img--radius-lg {
    border-radius: $border-radius-lg;
  }

  &.img--radius-xl {
    border-radius: $border-radius-xl;
  }
}

img,
svg {
  &.zoom-on-hover {
    // transition: 200ms ease-in-out;

    &:hover {
      //transform: scale(1.2);
    }
  }
}
