// ==========================================================================
// Vertical and horizontal lists
// ==========================================================================

ul {
  line-height: 1.5em;

  &.list-none {
    padding-left: 0;
    list-style-type: none;
  }

  &.list-horizontal {
    padding-left: 0;

    li {
      display: inline-block;

      a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &.list-vertical {
    list-style-type: none;
    margin-bottom: 2rem;
    margin-top: 0;
    padding-left: 0;

    &.bullets {
      margin-left: 1.25rem;

      li::before {
        content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
        color: $primary; /* Change the color */
        font-weight: bold; /* If you want it to be bold */
        display: inline-block; /* Needed to add space between the bullet and the text */
        width: 1em; /* Also needed for space (tweak if needed) */
        margin-left: -1em; /* Also needed for space (tweak if needed) */
      }
    }

    li {
      margin-bottom: 0.75rem;
      margin-top: 0.75rem;
    }
  }
}
