// ==========================================================================
// Expandable text, trigged by a "Read More" Button.
// ==========================================================================

.read-more-container {
  font-weight: $font-weight-light;

  [type="checkbox"] {
    position: absolute;
    left: -9999px;

    & ~ div {
      max-height: 0;
      transition: all 400ms ease-in-out;
      overflow: hidden;
      opacity: 0;
    }

    & ~ label i::before {
      content: '\e808';
    }

    &:checked ~ div {
      max-height: 100%;
      opacity: 1;
    }

    &:checked ~ label i::before {
      content: '\e809';
    }
  }

  ul {
    @extend .list-vertical;
    @extend .bullets;
  }
}
