// ==========================================================================
// Variables
// ==========================================================================

$border-radius-md: 4px;
$border-radius-lg: 8px;
$border-radius-xxl: 100px;

$border-thickness: 1px;

$global-text-shadow: 0 4px 4px 0 rgba($black, 0.25);
$global-box-shadow-y: 0 4px 3px 0 rgba($black, 0.25);
$global-box-shadow-x: 0 0 3px 2px rgba($black, 0.25);

$font-weight-extralight: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$font-family-heading: 'Poly', serif;
$font-family-base: 'Roboto', sans-serif;
$font-family-buttons: 'Robotos', sans-serif;

$size-header: 56px; // important, when header is flying above hero.
$size-mobile-nav: 280px;
